<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTVN1</title>
    <link type="text/css" rel="stylesheet" href="../assets/css/bai1.css"/>
</head>
<body>
<div class="content">  
    <div class="top">Cities</div>
    <div class="main">
        <div class="left">
            <ul>
                <li><a href="#">London</a></li>
                <li><a href="#">Paris</a></li>
                <li><a href="#">Tokyo</a></li>
            </ul>
        </div>
        <div class="right">
            <h2>London</h2>
            <h3>
                <p>London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 milion inhabitants.</p>
                <p>Standing on the River Thames, London has been a major settlement for two millenia, its history going back to its founding by the Romans, Who named it Londinium.</p>
            </h3>
        </div>
    </div>
    <div class="bottom">Footer</div>
</div>   
</body>
</html>