<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../assets/css/bai2.css" />
    <title>Document</title>
</head>
<body>
<div class="main">
    <div class="email-password">
        <div class="email">
            <label for="_email">Email</label> <br />
            <input type="text" class="_email" />
        </div>
        <div class="password">
            <label for="_password">Password</label> <br />
            <input type="text" class="_password" />
        </div>
    </div>
    <div class="address1">
        <label for="_address1" >Address</label> <br />
        <input type="text" class="_address1" placeholder="1234 Main St" />
    </div>
    <div class="address2">
        <label for="_address2">Address2</label> <br />
        <input type="text" class="_address2" placeholder="Apartment, studio, or floor" />
    </div>
    <div class="city-group">
        <div class="city">
            <label for="_city">City</label> <br />
            <input type="text" class="_city" />
        </div>
        <div class="state">
            <label for="_state">State</label> <br />
            <select  class="_state">
                <option value="">Choose..</option>
            </select>
        </div>
        <div class="zip">
            <label for="_zip">Zip</label> <br />
            <input type="text" class="_zip" />
        </div>
    </div>
    <div class="checkme">
        <input type="checkbox" />
        <span>Check me out</span>
    </div>
    <div class="sigin">
        <input type="button" value="Sig in"  >
    </div>
</div>
    
</body>
</html>