<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTVN4</title>
    <link rel="stylesheet" href="../assets/css/bai4.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="top">
        <div class="hethong">
            <p class="p1">HỆ THỐNG CỬA HÀNG</p>
            <P class="p1">Biz Hà Đông (Petro Hà Đông)</P>
            <p>Tầng 3-TTTM MeLinh Hà Đông, số 1 Hà Cầu-Hà Đông-Hà Nội</p>
            <p>TEL: 0386701897</p>
            <p>OPEN: 9:00-21:30</p>
        </div>
        <div class="longbien">
            <p class="p1">Biz Long Biên (Big C Long Biên)</p>
            <p>Tầng 2-TTTM Savico Long Biên, số 7-9 đường Nguyễn Văn Lĩnh, quận Long Biên, TP Hà Nội</p>
            <p>TEL: 0386701897</p>
            <p>OPEN: 9:00-22:00</p>
        </div>
        <div class="mydinh">
            <p class="p1">Biz Mỹ Đình (Big C Mỹ ĐÌnh)</p>
            <p>Tầng 3-TTTM The Garden-Đường Mễ Trì-Mỹ Đình-Hà Nội (BIG C Mễ Trì)</p>
            <p>TEL: 0386701897</p>
            <p>OPEN: 9:00-22:00</p>
        </div>
    </div>
    <div class="main">
        <div class="main_top">
            <div class="thongtin">
                <p>THÔNG TIN</p>
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Sản phẩm</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="chinhsach">
                <p>CHÍNH SÁCH</p>
                <ul>
                    <li><a href="#">Mua hàng online</a></li>
                    <li><a href="#">Hướng dẫn thanh toán</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Hình thức vận chuyển</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                    <li><a href="#">Hỏi, đáp nhanh</a></li>

                </ul>
            </div>
            <div class="tongdai">
                <p>TỔNG ĐÀI BÁN HÀNG</p>
                <p id="icon">
                    <i class="material-icons">phone</i>
                    <span>0933 896 686</span>
                </p>
                <p id="bophan">CÁC BỘ PHẬN KHÁC</p>
                <p class="icon1">
                    <i class="material-icons">phone</i>
                    <span>093 389 6686 | Hotline 24/7</span>
                </p>
                <p class="icon1">
                    <i class="material-icons">phone</i>
                    <span>091 230 5775 | Sửa chữa & Bảo hành</span>
                </p>
                <p id="online">BÁN HÀNG ONLINE</p>

                </p>
            </div>
            <div class="ketnoi">
                <p>KẾT NỐI VỚI CHÚNG TÔI</p>
        
                <a href="#"> <i class="fa fa-facebook"></i> </a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-whatsapp"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <p class="logo">
                    <img src="../image/hinh1.PNG" alt="" id="img1" /> 
                    <img src="../image/hinh2.PNG" alt="" />
                </p>
                
            </div>
        </div>
        <hr />
        <div class="main_bottom">
            <ul>
                <li><a href="#">PHÒNG KHÁCH</a></li>
                <li><a href="#">PHÒNG ĂN</a></li>
                <li><a href="#">PHÒNG NGỦ</a></li>
                <li><a href="#">ĐỒ TRANG TRÍ</a></li>
                <li><a href="#">ĐỆM</a></li>
                <li><a href="#">SẢN PHẨM MỚI</a></li>
                <li><a href="#">SẢN PHẨM BÁN CHẠY</a></li>
                <li id="all" ><a href="#">ALL</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom">@2020 Bản quyền thuộc về <strong>Biznoithat.com</strong> </div>

</body>
</html>